.album-container {
  min-width: 1330px;
}
.cnt {
  background: var(--bgColor);
  overflow-x: auto;
}
.pc-in-cnt {
  width: 100%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.top-card {
  width: 660px;
  height: 450px;
  @extend .card-com;

  .pc-info {
    display: flex;
    height: 70px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    .pc-date {
      font-size: 14px;
      font-weight: bold;
      color: #999;
      position: absolute;
      bottom: 30px;
      right: 20px;
    }
  }
  .pc-in {
    height: 380px;
    @extend .pc-in-cnt;
  }
}
.card-com {
  box-shadow: 0 2px 4px 3px rgba(7, 17, 27, 0.06);
  border: solid 1px rgb(238, 237, 237);
  background-color: var(--pureColor);
}
.mt1 {
  margin: 5px;
}
.other-card {
  @extend .card-com;
  width: 320px;
  height: 250px;

  .pc-info {
    display: flex;
    height: 60px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding-top: 6px;
    .pc-date {
      font-size: 12px;
      font-weight: bold;
      color: #999;
      position: absolute;
      bottom: 14px;
      right: 10px;
    }
  }
  .pc-in {
    height: 190px;
    @extend .pc-in-cnt;
  }
}
.right-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 670px;
}
.mt2 {
  margin: 6px;
}
.left-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fir-con {
  display: flex;
  justify-content: center;
}
.next-con {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 1333px;
}
.album-container {
  padding-top: 50px;
  margin: auto;
  width: 1500px;
}
