@import '../themes/theme.scss';

.article-container {
  width: 80vw;
  margin: 2vh auto 2vh auto;
  padding: 2vw;
  border-radius: 4px;
  min-height: calc(100vh - 15vh);
  position: relative;

  @media screen and (max-width:768px) {
    width: 90vw;
  }

  @include themify($themes) {
    background: themed('pureColor');
    color: themed('fontColor');
  }

  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);

  &:hover {
    box-shadow: 0 4px 12px 12px rgba(7, 17, 27, .15);
  }

}

.page {
  overflow: hidden;

  @include themify($themes) {
    background: themed('bgColor');
  }

  .infor {
    h1 {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    .date {
      color: #858585;
    }
  }

  pre {
    overflow: auto;

    @include themify($themes) {
      background: themed('mainBgColor');
    }
  }

}