@import '../themes/theme.scss';

.home-page {
  @include themify($themes) {
    background: themed('bgColor');
    color:themed('fontColor')
  }
}

.post-list {
  display: flex;
  margin:auto;
  justify-content: center;
}