$themes:(
  light:(
    bgColor: rgba(247,247,247,.95),
    fontColor: #2b3743,
    mainBgColor: rgba(247,247,247,.95),
    borderColor: #dcdfe6,
    activeColor:#49b1f5,
    pureColor:#ffffff,
  ),
  dark:(
    bgColor: rgba(43,55,67,.95),
    fontColor: #d8d8d8,
    mainBgColor: #1f2c35,
    borderColor: #384651,
    pureColor:#2b3743,

  ),
);

@mixin themify($themes: $themes) {
  @each $theme-name, $map in $themes {

    .theme-#{$theme-name} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
