$themes: (
    light: (
        bgColor: rgba(247, 247, 247, 0.95),
        fontColor: #2b3743,
        secFontColor: rgb(78, 89, 105),
        mainBgColor: rgba(247, 247, 247, 0.95),
        borderColor: #dcdfe6,
        activeColor: #49b1f5,
        pureColor: #ffffff,
        previewColor: black,
        btnBgColor: rgba(46, 50, 56, 0.05),
    ),
    dark: (
        bgColor: rgba(43, 55, 67, 0.95),
        fontColor: #d8d8d8,
        mainBgColor: #1f2c35,
        borderColor: #384651,
        pureColor: #2b3743,
        secFontColor: #d8d8d8,
        btnBgColor: #d8d8d8,
        previewColor: rgba(255, 255, 255, 0.5),
    ),
);

@mixin themify($themes: $themes) {
    @each $theme-name, $map in $themes {
        .theme-#{$theme-name} & {
            $theme-map: () !global;
            @each $key, $value in $map {
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }

            @content;

            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
