$themes:(
  light:(
    bgColor: #f7f7f7,
    fontColor: #000000,
    mainBgColor: #f2f3f8,
    borderColor: #dcdfe6,
    activeColor:#49b1f5,
    pureColor:#ffffff,
  ),
  dark:(
    bgColor: #2b3743,
    fontColor: #ffffff,
    mainBgColor: #1f2c35,
    borderColor: #384651,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme-name, $map in $themes {

    .theme-#{$theme-name} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}