@import "../themes/theme.scss";

.cmt-container {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 10px;
}
.avatar-con {
    width: 42px;
    height: 42px;
    position: relative;
    margin-right: 20px;
    img {
        width: 42px;
        height: 42px;
    }
}
.cmt-meta {
    .cmt-top {
        display: flex;
        align-items: flex-end;
        .cmt-date {
            color: #858585;
            margin-left: auto;
            font-size: 16px;
        }
        .cmt-username {
            font-size: 20px;
            margin-bottom: 1px;
        }
    }

    .cmt-desc {
        @include themify($themes) {
            color: themed("secFontColor");
        }
        font-size: 16px;
    }
}
