.footer-container {
  position: absolute;
  bottom: 1vh;
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  .icp {
    margin-top: 4px;
    font-size: 14px;
  }
  color: var(--fontColor);
  .copyright {
    margin-top: 2vw;
    a {
      text-decoration: underline;
    }
  }
  .links {
    width: 10vw;
    margin: auto;
    justify-content: space-around;
    display: flex;
    a {
      font-size: 1.5rem;
      &:hover {
        opacity: 0.8;
      }
    }
    .mail {
      color: var(--fontColor);
    }
    @media screen and (max-width: 768px) {
      width: 40vw;
    }
  }
}
