@import '../themes/theme.scss';

.header-container {
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}