@import '../themes/theme.scss';

.nav-container {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);

  @include themify($themes) {
    background: themed('bgColor');
    color: themed('fontColor');

  }

  a {
    text-decoration: none;
  }

  a:visited {
    @include themify($themes) {
      color: themed('fontColor');
    }
  }
}

@keyframes slowExpand {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);

  }
}

@keyframes slowFold {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.expand {
  animation: slowExpand 0.5s;
  transform: translateY(0%);
}

.fold {
  animation: slowFold 0.5s;
}



.icon-outer {
  @include themify($themes) {
    background: themed('bgColor');
  }
  padding:7px 7px 7px 7px;
  border-radius: 2px;
}

.menus {
  position: relative;
  margin-top: 20vh;
  width: 100%;
  text-align: center;

  .menu-item-active {
    color: white
  }

  .menu-item {
    position: relative;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 2.5vw;

    &:hover ::after {
      width: 100%;
    }
  }

  .menu-item ::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    content: '';
    height: 3px;
    transition: all .3s ease-in-out;
    background-color: #80c8f8;
  }

}

.change {
  @include themify($themes) {
    color: themed('fontColor') !important;
  }
}

@keyframes colorChange {
  from {
    @include themify($themes) {
      color: themed('bgColor');
    }
  }
  to {
    @include themify($themes) {
      color: themed('fontColor') !important;
    }
  }
}


.top-menu {
  z-index: 3;
  position: absolute;
  margin-top: 5vh;
  width: 100%;
  @include themify($themes) {
    color: themed('bgColor');
  }

  .blog-name {
    margin-left: 5vw;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .nav-actions {
    cursor: pointer;
    float: right;
    margin-right: 5vw;

    i {
      @include themify($themes) {
        color: themed('fontColor');
      }

      font-size: 1.2rem;

      &:hover {
        color: #80c8f8;
      }
    }


  }
}

.nav-wrapper {
  overflow: hidden;
}