.nav-container {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  background: var(--bgColor);
  color: var(--fontColor);

  a {
    text-decoration: none;
  }

  a:visited {
    color: var(--fontColor);
  }
}
@keyframes slowExpand {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slowFold {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.expand {
  animation: slowExpand 0.5s;
  transform: translateY(0%);
}

.fold {
  animation: slowFold 0.5s;
}

.icon-outer {
  background: var(--bgColor);
  padding: 3px 4px 3px 4px;
  border-radius: 2px;
  svg {
    font-size: 1.2rem !important;
  }
}

.menus {
  position: relative;
  margin-top: 20vh;
  width: 100%;
  text-align: center;

  .menu-item-active {
    color: white;
  }

  .menu-item {
    position: relative;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 2.5vw;
    line-height: 1.4rem;

    &:hover ::after {
      width: 100%;
    }
    svg {
      font-size: 0.9rem;
      position: relative;
      top: -0.1rem;
      left: -0.1rem;
    }
  }

  .menu-item ::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    content: "";
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: #80c8f8;
  }
}

.change {
  color: var(--fontColor) !important;
}

@keyframes colorChange {
  from {
    background: var(--bgColor);
  }
  to {
    color: var(--fontColor);
  }
}

.top-menu {
  z-index: 3;
  position: absolute;
  margin-top: 5vh;
  width: 100%;
  color: var(--bgColor);
  .blog-name {
    margin-left: 5vw;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .nav-actions {
    cursor: pointer;
    float: right;
    margin-right: 5vw;
    svg {
      color: var(--fontColor);
      font-size: 1.4rem;
      &:hover {
        color: #80c8f8;
      }
    }
  }
}

.nav-wrapper {
  overflow: hidden;
}
