.progress-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    z-index: 99;
    .progress-inner {
        height: 100%;
        background-color: #80c8f8;
        transition: width 0.5s ease;
    }
}
