@import '../themes/theme.scss';

.top-container {
  position: sticky;
  height: 5vh;
  padding:0 2vw 0 2vw;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
  @include themify($themes) {
    background: themed('pureColor');
  }
  a{
    text-decoration: none;
  }
  i {
    @include themify($themes) {
      color: themed('fontColor');
    }

    font-size: 28px;
    cursor: pointer;
    &:hover {
      color: #80c8f8;
    }
  }
}